@font-face {
    font-family: 'STAR 4';
    src: url('STAR4.woff2') format('woff2'),
        url('STAR4.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STAR 4 Extended';
    src: url('STAR4Extended.woff2') format('woff2'),
        url('STAR4Extended.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STAR 4 Large Compressed Numbers';
    src: url('STAR4LargeCompressedNumbers.woff2') format('woff2'),
        url('STAR4LargeCompressedNumbers.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star4 Large';
    src: url('Star4Large.woff2') format('woff2'),
        url('Star4Large.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STAR 4 Large Compressed';
    src: url('STAR4LargeCompressed.woff2') format('woff2'),
        url('STAR4LargeCompressed.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'STAR 4 Small';
    src: url('STAR4Small.woff2') format('woff2'),
        url('STAR4Small.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Star 4 Radar';
    src: url('Star4Radar.woff2') format('woff2'),
        url('Star4Radar.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
